.font-nunito {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-weight: bold;
	padding: 10px;
	padding-top: 23px;
}

.svgIcon {
	/* border: 1px solid red; */
	position: relative;
	height: 22px;
	margin-right: 12px;
}

.backgroundScenic {
	background-image: url('../images/accommodation-scenic.jpeg');
}

.backgroundScenicDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-scenic.jpeg');
}

.backgroundQuaint {
	background-image: url('../images/accommodation-quaint.jpeg');
}

.backgroundQuaintDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-quaint.jpeg');
}

.backgroundCheap {
	background-image: url('../images/accommodation-cheap.jpeg');
}

.backgroundCheapDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-cheap.jpeg');
}

.card {
	position: relative;
	cursor: pointer;
	margin-bottom: 35px;
	font-size: 16px;
	color: #1f2c41;
}

.infoButton {
	height: 75px;
	margin-top: 170px;
	font-size: 16px;
	background: #ffffff;
}

.footer-accomm-color {
	background: #5181fc;
}

.footer-accomm-color-dark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		#5181fc;
}

.disabled-link {
	cursor: not-allowed;
}
