* {
	box-sizing: border-box;
}

.font-nunito {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-weight: bold;
	padding: 10px;
	padding-top: 23px;
}

.svgIcon {
	border: 1px solid red;
	position: relative;
	height: 22px;
	margin-right: 12px;
}

.backgroundScenic {
	background-image: url('../images/accommodation-scenic.jpeg');
}

.backgroundScenicDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-scenic.jpeg');
}

.backgroundQuaint {
	background-image: url('../images/accommodation-quaint.jpeg');
}

.backgroundQuaintDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-quaint.jpeg');
}

.backgroundCheap {
	background-image: url('../images/accommodation-cheap.jpeg');
}

.backgroundCheapDark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/accommodation-cheap.jpeg');
}

.card {
	position: relative;
	cursor: pointer;
	border: 1px solid red;
	/* height: 250px; */
	border-radius: 20px;
	margin-bottom: 35px;
	/* margin-left: 15px;
	margin-right: 15px; */
	font-size: 16px;
	/* line-height: 160%;
	font-feature-settings: 'pnum' on, 'lnum' on; */
	color: #1f2c41;
}

.circle {
	position: absolute;
	/* margin-left: 38%;
	margin-top: 13%; */
	width: 57px;
	height: 57px;
	top: 35%;
	left: 50%;
	margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
	/* background: #5181fc; */
	border-radius: 100px;
}

.check {
	position: absolute;
	left: 20.83%;
	right: 20.83%;
	top: 20.17%;
	bottom: 29.17%;
	/* border: 2px solid #ffffff; */
	color: #ffffff;
}

.infoButton {
	height: 75px;
	margin-top: 170px;
	font-size: 16px;
	background: #ffffff;
	border-radius: 20px;
	border: 1px solid red;
}

.footer-accomm-color {
	background: #5181fc;
}

.footer-accomm-color-dark {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		#5181fc;
}

.disabled-link {
	pointer-events: none;
}
