.font-link {
	font-family: 'Ubuntu', sans-serif;
}

b {
	font-weight: 700;
}

.description {
	margin-top: 70px;
	margin-left: 35px;
	margin-right: 35px;
	font-size: 16px;
	line-height: 160%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #1f2c41;
}

.footer a {
	color: #ffffff;
}

.footer {
	position: sticky;
	margin-top: 60px;
	bottom: 0px;
	height: 72px;
	padding: 9px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	background: #111111;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: white;
}

@media screen and (min-width: 900px) {
	.footer {
		position: absolute;
		bottom: 0;
		width: calc(100% - 30px);
	}
}
