* {
	box-sizing: border-box;
}

.font-link {
	font-family: 'Ubuntu', sans-serif;
}

b {
	font-weight: 700;
}

.header {
	text-align: center;
	border: 1px solid red;
	padding-top: 113px;
	font-size: 26px;
	line-height: 120%;
	color: #000000;
}

.description {
	/* border: 1px solid red; */
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 16px;
	line-height: 160%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #1f2c41;
}

.footer a {
	color: #ffffff;
}

.footer {
	position: sticky;
	bottom: 0px;
	height: 72px;
	padding: 9px;
	font-size: 16px;
	margin-top: 66.92px;
	margin-left: 15px;
	margin-right: 15px;
	background: #111111;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: white;
	/* border: 1px solid red; */
}
